<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../static/layui/css/layui.css">
	<script src="../static/layui/layui.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>库存管理</title>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo "><i class="layui-icon layui-icon-cart"></i>库存管理系统</div>
			<!-- 头部区域（可配合layui已有的水平导航） -->
			<ul class="layui-nav layui-layout-left">
				<li class="layui-nav-item" ><a href="/index/"><i class="layui-icon layui-icon-table"></i>库存管理</a></li>
				<li class="layui-nav-item"><a href="/count/"><i class="layui-icon layui-icon-rmb"></i>预算统计</a></li>
                <li class="layui-nav-item"><a href="/other/"><i class="layui-icon layui-icon-time"></i>出入库记录</a></li>
            </ul>
		</div>

		<div style="padding: 5%;">
			<!-- 内容主体区域 -->
		    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
		      <legend>预算统计</legend>
		    </fieldset>
		    <form class="layui-form" action="/error/" lay-filter="counts" id="counts" style="margin-left: 20%;margin-top: 5%;">
		        <div class="layui-form-item">
		            <div class="layui-inline">
		                <label class="layui-form-label">类型</label>
		                <div class="layui-input-inline">
		                    <select name="place" lay-verify="required">
		                        <option value="">请选择</option>
		                        <option value="铣刀">铣刀</option>
		                        <option value="车刀">车刀</option>
		                        <option value="工具">工具</option>
		                        <option value="其它">其它</option>
		                    </select>
		                </div>
		            </div>
		            <div class="layui-inline">
		                <label class="layui-form-label"> 出/入库</label>
		                <div class="layui-input-inline">
		                    <select name="kind" lay-verify="required">
		                        <option value="">请选择</option>
		                        <option value="出库">出库</option>
		                        <option value="入库">入库</option>
		                    </select>
		                </div>
		            </div>
		        </div>
		        <div class="layui-form-item">
		            <div class="layui-inline">
		              <label class="layui-form-label">起始日期</label>
		              <div class="layui-input-inline">
		                  <input type="text" class="layui-input" name="date1" id="date1" lay-verify="required" placeholder="yyyy-MM-dd HH:mm:ss">
		              </div>
		            </div>
		            <div class="layui-inline">
		              <label class="layui-form-label">终止日期</label>
		              <div class="layui-input-inline">
		                  <input type="text" class="layui-input" name="date2" id="date2" lay-verify="required" placeholder="yyyy-MM-dd HH:mm:ss">
		              </div>
		            </div>
		        </div>
		        <div class="layui-form-item">
		            <div class="layui-input-block">
		              <button class="layui-btn" lay-submit lay-filter="go">立即提交</button>
		              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
		            </div>
		        </div>
		    </form>
		</div>


		<div style="padding: 3%;">
			<!-- 内容主体区域 -->
			<!-- <div class="layui-container">  
				<div class="layui-row grid-demo">
					<div class="layui-col-md6">
						<table class="layui-hide" id="empl_name" lay-filter="empl_name"></table>
					</div>
					<div class="layui-col-md6">
						<button type="button" class="layui-btn" id="addbt" style="float: right;"><i class="layui-icon">&#xe608;</i> 添加员工姓名</button>
					</div>
				</div>
			</div> -->
			<div class="layui-row layui-col-space5">
			  <div class="layui-col-md4 layui-col-md-offset4">
			    <div class="layui-row grid-demo">
			      <div class="layui-col-md12">
			        <table class="layui-hide" id="empl_name" lay-filter="empl_name"></table>
			      </div>
			      <div class="layui-col-md6">
			        <button type="button" class="layui-btn" id="addbt" style="float: right;"><i class="layui-icon">&#xe608;</i> 添加员工姓名</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>	
		<script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">编辑姓名</a>
			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
		</script>
        <!-- </div> -->
        <script type="text/html" id="edit_empl_name">
            <form class="layui-form" action="/error/" id="editit">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>修改员工姓名</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label">序号</label>
                    <div class="layui-input-inline">
                      <input type="text" name="id" id="sid" lay-verify="required" readonly="true" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                      <input type="text" name="name" id="sname" lay-verify="required"  class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="edit" >修改完成</button>
                    </div>
                </div>
            </form>
        </script>
        <script type="text/html" id="del_emplname">
            <form class="layui-form" action="/error/"  id="del_emplnameit">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>删除员工姓名</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label">序号</label>
                    <div class="layui-input-inline">
                      <input type="text" name="id" id="did" lay-verify="required" readonly="true" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                      <input type="text" id="dname"  lay-verify="required" readonly="true" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-danger"  lay-submit lay-filter="del_emplname">确认删除</button>
                    </div>
                </div>
            </form>
        </script>
        <script type="text/html" id="add_empl_name">
            <form class="layui-form" action="/error/"  id="add_empl_nameit">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>添加员工姓名</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                      <input type="text" name="name"  lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="add_empl_name">确认添加</button>
                    </div>
                </div>
            </form>
        </script>
		
	</div>

</body>

	<script>
		layui.use(['laydate','form'], function () {
			var laydate = layui.laydate;
			var form = layui.form;
			laydate.render({
	            elem: '#date1' //指定元素
	            ,trigger: 'click'
	            ,type: 'datetime'
	        });
			laydate.render({
	            elem: '#date2' //指定元素
	            ,trigger: 'click'
	            ,type: 'datetime'
	        });
	
			form.on('submit(go)', function(data){
	            layui.use('table', function(){
	                var table = layui.table;
	                layer.open({
	                    type : 1,
	                    area : [ "100%", '100%' ],
	                    title : "开支结算",
	                    maxmin : false,
	                    content : '<div><table id="templateTable"></table></div><script type="text/html" id="toolbarDemo"/>',
	                    success : function(index, layero) {
	                          table.render({elem: '#templateTable'
	                           ,url: '/data/counts?place='+data.field.place+'\&kind='+data.field.kind+'\&date1='+data.field.date1+'\&date2='+data.field.date2
	                            , page: true
	                            ,limit:50
	                            ,skin: 'row'
	                            ,even: true
	                            ,height: 'full-60'
	                              , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
	                            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
	                                title: '提示'
	                                , layEvent: 'LAYTABLE_TIPS'
	                                , icon: 'layui-icon-tips'
	                            }]
	                            ,cols: [[ //表头
	                                  {field: 'id', title: '序号', width:80, sort: true}
	                                  , { field: 'name', title: '品名', width: 160 , sort: true }
	                                , { field: 'size', title: '型号', width: 160 , sort: true}
	                                , { field: 'factory', title: '厂商', width: 160, sort: true}
	                                , { field: 'place', title: '类型', width: 80}
	                                , { field: 'number', title: '库存数量', width: 100 }
	                                , { field: 'kind', title: '进/出库', width: 80}
	                                , { field: 'sum_change', title: '进/出库数量', width: 130 }
	                                , { field: 'price', title: '单价', width: 80}
	                                , { field: 'money', title: '开支金额', width: 100 }
	                            ]]
	                          });
	                    }
	                });
	            });
	            return false;
	        });
	    });
	</script>

	<script>
		layui.use(['table','form','layer'], function () {
			var table = layui.table;
			var form = layui.form;
			var layer = layui.layer;
			var $ = layui.jquery;
			table.render({
				elem: '#empl_name'
				, url:'/data/names/'
				, title: '员工姓名表'
				, id:'table_empl_nameId'
				, width:380
				, cols: [[
					{ field: 'id', title: '序号', width: 80 , sort: true,align:'center' }
					,{ field: 'name', title: '姓名', width: 80 , sort: true,align:'center'}
					, { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 220,align:'center'}
				]]
				, page: true
				,limit:5
                ,limits:[5,10,15,20,25]
                ,skin: 'row'
                ,even: true
                ,height: '300'
			});

			//监听行工具事件
			table.on('tool(empl_name)', function (obj) {
				var data = obj.data;
				if (obj.event === 'del') {
					layer.open({
                        type: 1,
                        area: ['380px', '450px'],
                        title:"",
                        content:$("#del_emplname").html(),
                        success:function () {
                            $("#dname").val(data.name)
							$("#did").val(data.id)
							form.render()
                        },
						end:function(){
							table.reload('table_empl_nameId');
						}
                    })
				} else if (obj.event ==='edit') {
				    layer.open({
                        type: 1,
                        area: ['380px', '480px'],
                        title:"",
                        content:$("#edit_empl_name").html(),
                        success:function () {
                            $("#sname").val(data.name)
							$("#sid").val(data.id)
                            form.render()
                        },
						end:function(){
							table.reload('table_empl_nameId');
						}
                    })
                }
			});

            $('#addbt').on('click', function(){
                layer.open({
                        type: 1,
                        area: ['380px', '400px'],
                        title:"",
                        content:$("#add_empl_name").html(),
                        success:function(){
                            form.render();
						},
						end:function(){
							table.reload('table_empl_nameId');
						}
                    })
            });

            form.on('submit(edit)', function(data){
                layer.closeAll();
				$.get("/op/edit_empl_name", $("#editit").serialize() );
                return false;
            });
            form.on('submit(add_empl_name)', function(data){
                layer.closeAll();
				console.log($("#add_empl_nameit").serialize())
                $.get("/op/add_empl_name", $("#add_empl_nameit").serialize());
                return false;
            });
            form.on('submit(del_emplname)', function(data){
                layer.closeAll();
                $.get("/op/del_empl_name", $("#del_emplnameit").serialize());				
                return false;
            });
		});
		
	</script>

</html>
